* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
}

body {
    background-image: url(images/background.jpg);
    background-repeat: repeat;
    color: var(--brown-800);
}

:root {
    --brown-50: rgb(241, 216, 184);
    --brown-800: #452d2d;
    --orange-200: rgba(255, 166, 0, 0.836);
    --orange-500: peru;
    --black: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem 2rem;
    margin-bottom: 3rem;
    background-color: var(--brown-50);
    box-shadow: 1px 0 8px 2px var(--brown-800);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header__title {
    align-items: center;
    display: flex;
    position: relative;
    text-shadow: 0.5px 0.5px 2px var(--black);
}

.header__title img {
    position: absolute;
    top: -0.7rem;
    left: -1.1rem;
    width: 40px;
}

.header__contact {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;
}

.header__contact img {
    width: 30px;
}

@media (max-width: 720px) {
    .header__contact {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .header__contact img {
        margin-left: 0.5rem;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.notebook {
    background-image: url(images/notebook.png);
    background-repeat: round;
    background-size: fill;
    margin: 0.5rem 0;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 2rem 6.1rem;
    max-width: 300px;
    min-height: 400px;
}

.card img {
    border-radius: 1rem;
    box-shadow: 2px 2px 8px 2px var(--black);
    margin-bottom: 1rem;
}

.card h1 {
    text-align: center;
}

.card h2 {
    border-bottom: 1px solid var(--black);
    margin: 1rem;
    text-align: center;
}

.card h3 {
    margin: 0.5rem;
}

.card p {
    text-align: center;
}

.card li {
    margin-left: 1.5rem;
}

.divisoria {
    background-image: url(images/fox-tail.png);
    background-position: left;
    background-repeat: repeat-x;
    background-size: contain;
    height: 50px;
    margin: 2rem 0;
}

footer {
    align-items: center;
    background-color: var(--brown-50);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
    color: var(--brown-800);
    box-shadow: -1px 0 8px 2px var(--brown-800);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer img {
    margin-left: 0.2rem;
}

footer a {
    color: var(--orange-500);
    text-decoration: none;
}

footer a:hover {
    color: var(--orange-200);
    text-decoration: underline;
}